html{
    /*Establecemos un tamaño de fuente para la página, lo ponemos en porcentaje para que sea relativa la medida, también para que respete 
    los cambios de tamaño del usuario*/
    font-size: 70%;
    /*REM->Unidad de medida que se basa en la raíz de nuestro documento
    EM->Unidad de medida que se basa en el tamaño de fuente del elemento que se encuentran
    
    Por ejemplo
    .btn-rem{
        font-size: 5rem;
        padding: .5em; -> este siempre cambia al tamaño de font-size, pues su medida se basa en el elemento más arriba
    }
    
    Casí siempre los font size van con rem, los demás elementos van con em
    */

    
}

body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 6rem;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

form {
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;
}

img {
    width: 70%;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header>* {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

li {
    display: inline;
}

.logo {
    width: 15%;
}

/*Todos los hijos de la clase logo, que en este caso es img*/
.logo>img {
    width: 50%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.menu-item {
    display: inline;
    margin: 0 25px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
}

.actions * {
    margin: 0 10px;
}

.sig-in {
    color: #67b54b;
    text-decoration: none;
}

.button-action {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;

}

.main {
    margin-top: 120px;
    text-align: center;
}

.contenedor-img {
    display: flex;
    justify-content: center;

}